body {
	margin: 0px;
	padding: 16px;
}
#page {
	display: table;
	width: 100%;
}
#container {
	display: table-row;
}

#parameters {
	display: table-cell;
	width: 50%;
	padding-right: 16px;
}

#map {
	display: table-cell;
	border: 1px solid black;
	background-color: #444;
}

#omega_b_holder .ui-widget-header { background-color: red; }
#omega_c_holder .ui-widget-header { background-color: blue; }
#omega_l_holder .ui-widget-header { background-color: green; }